/* ------------ GOOGLE FONTS ------------ */
/*
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@500&display=swap');
*/
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Nunito+Sans:opsz,wght@6..12,400;6..12,600;6..12,700&display=swap');

/* ------------ VARIABLES ------------ */
:root{
    /* FONT */
    --fontLobster: 'Lobster', sans-serif;
    --fontNunito: 'Nunito Sans', sans-serif; /*font usato nella navigation bar*/

    /* COLORS */
    --backgroundColor: #181335;
    --footerBackgroundColor: #0C0922;
    --carouselColor: #9176FF;
    --whiteText: #F6F6F9;
}
/* todo UTILIZZARE LE CLASSI DI BOOTSTRAP PER PADDING/MARGIN */
/* todo SOSTITUIRE UNITA' DI MISURA ASSOLUTE IN RELATIVE*/
/* START CSS FOR NAVBAR BOOTSTRAP + CSS */

h1, h2, h3 {
    font-family: var(--fontLobster);
    /* letter-spacing: 0.12rem; Non va bene assegnarlo a tutti e tre, perchè se vedete su Figma il letter spacing dipende dalla dimensione del testo, quindi è diverso tra h1, h2 e h3*/
}

h1{
    /* impostato come dimensione minima 32px e massima 64px */
    font-size: clamp(2.133rem, 4vw + 1rem, 4.267rem); /* https://www.smashingmagazine.com/2022/01/modern-fluid-typography-css-clamp/ */
    letter-spacing: 0.12rem;
}

h2{
    /* impostato come dimensione minima 28px e massima 40px */
    font-size: clamp(1.75rem, 2vw + 1rem, 2.5rem);
    letter-spacing: 0.075rem;
}

h3{
    /* impostato come dimensione minima 24px e massima 32px */
    font-size: clamp(2rem, 2vw + 1rem, 2.667rem);
    letter-spacing: 0.06rem;
}

h1, h2, h3, h6, p, li, a{ /*Non abbiamo un h6 in Figma, perchè le voci di footer hanno le stesse dimensiondi quelle della navbar*/
    color: var(--whiteText);
}

p{
    font-family: var(--fontNunito);
    font-size: clamp(0.875rem, 1vw + 0.5rem, 1.5rem); /*stavo facendo una prova, ma non so nemmeno io in base a che criterio*/
    /* todo definire font size */
}

a{
    font-family: var(--fontNunito);
    /* todo definire font size */
    /*In realtà al link non va asseganta la dimensione, perchè tanto se la piglia a seconda del tag in cui viene inserito (se h1, p, etc)*/
    text-decoration: underline;
    /*text-decoration-color: var(--whiteText); /*Creare una classe che applichi color: white, font-size e weight ai link della navbar, allo slogan e alle voci di footer
    Controllare di non avere link che devono essere su sfondo bianco, sennò poi spariscono*/
    text-underline-offset: 5px; /* todo capire quanto spostare la sottolineatura*/
}

/* todo POI RIMUOVERE classe css che definisce i parametri di stile da settare per i componenti che usano font Nunito Sans*/
/*.nunito{
    font-family: var(--fontNunito);
    letter-spacing: 0.045rem;
    font-size: 1.5rem;
}*/

/*html{
    height: 100vh;
    width: 100%;
} Non serve specificarlo (?)*/

body {
    /*Perchè specificare width e heigh per il body se è di defaul al 100%?
    Anche il margin a 0 andrebbe tolto e vedere che succede, ma penso non ci siano problemi*/
    /*width: 100%;
    height: 100vh;
    margin:0;*/
    background: var(--backgroundColor);
    /*overflow-x: hidden;
    overflow-y: scroll;*/
}


section:before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #181335, transparent);
    z-index: 1;
}

section:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}


section{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

button {
    border-radius: 15px;
    font-weight: bold;
    color: var(--backgroundColor);
    background: #FFE037;
    /*padding: 20px 50px;*/ /*padding di figma*/
    padding: 15px 40px 15px 40px; /*Sostituire e mettere unità di misura relativa, creando una classe per il text_button e mettere un padding a quello*/
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.navbar{
    z-index: 1000000; /*????*/
}

/*todo TOGLIERE questa regola dopo aver definito una classe con lo stile di testo per voci di menu e footer*/
.navbar a {
    font-size:20px;
    letter-spacing:2px;
    justify-content: space-between;
}

/* Colore per l'icona hambirger menu */
.navbar-toggler .fa-bars {
    color: white; /* Imposta il colore dell'icona su bianco */
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar a.dropdown-menu {
    background: var(--whiteText);
}

/*todo TOGLIERE sempre dopo aver definito una classe unica*/
.navbar a.dropdown-toggle {
    color: var(--whiteText);
}

.navbar a.dropdown-item {
    color: #0c0725;
    position: relative;
    display: inline-block;
    width: auto;
    padding: 0 0 3px;

}

.navbar .nav-link.active{
    color: var(--whiteText);
}

.navbar .dropdown-menu a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #0c0725;
    transition: width 0.3s ease;
}

.navbar .dropdown-menu a:hover::before,
.navbar .dropdown-menu a:focus::before {
    width: 100%;
    background-color: transparent;
    color: #0c0725;
}

.navbar a.dropdown-item:hover,
.navbar a.dropdown-item:focus {
    background-color: transparent;
    color: #0c0725;
}


.nav-item a{
    color: var(--whiteText);
    justify-content: space-between;
    position: relative;
    display: inline-block;
}

.nav-item a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: var(--whiteText);
    transition: width 0.3s ease; /* Imposta la transizione */
}

.navbar .nav-item a.active::before {
    width: 100%;
}


.nav-item a:focus::before,
.nav-item a:hover::before {
    width: 100%; /* Fai espandere la sottolineatura al 100% */
}

.nav-item a:focus {
    text-underline-offset: 10px;
}

.nav-item a:hover {
    color: var(--whiteText);
}

.navbar-nav {
    display: flex;
    justify-content: space-between;
    width: 100%; /* <-- Questa è la larghezza della barra: attenti che modifica anche su mobile */
}

.nav-item{
    color: var(--whiteText);
}

.navbar-nav .nav-link-show{
    color: var(--whiteText);
}

.navbar-toggler{
    border: none;
    outline: none;
}

.nav-colored{
    background: var(--backgroundColor);
    transition: background-color 0.7s ease;
}

.nav-transparent{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
    background: -moz-linear-gradient(left,  rgba(12,7,37,1) 0%, rgba(0,0,0,0) 50%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(12,7,37,1) 0%,rgba(0,0,0,0) 50%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(left,  rgba(12,7,37,1) 0%,rgba(0,0,0,0) 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
    transition: background-color 0.7s ease;
}

.navbar.collapsing .navbar-nav,
.navbar.show .navbar-nav{
    background: -moz-linear-gradient(top,  rgba(12,7,37,1) 0%, rgba(0,0,0,0) 50%);
    padding: 12px;
}

#offcanvasNavbar{
    background-color: var(--backgroundColor);
    text-align: center;
}
/* ------------ NAVBAR END ------------ */

.title{
    font-family: var(--fontLobster);
    font-size:50px;
    color: var(--whiteText);
    margin-right: 0;
    margin-left: 0;
}

/* ------------ HERO START ------------ */
#hero-image{
    position: relative;
    max-width: 4.5em;
    max-height: 4.5em;
    z-index: 1;
    display: block;
}

#text /* todo eliminare, è associato tramite id all' h1 di ogni pagina*/
{
    position: relative;
    color: var(--whiteText);
    /*font-size: 5vw;*/
    text-shadow: 2px 2px 5px rgba(0,0,0,0.3),
    5px 5px 70px rgba(255,255,255,0.5);
    text-align: center;
    z-index: 1;
}

#text2{
    position: relative;
    color: var(--whiteText);
    /*font-size: 3vw;*/
    text-shadow: 2px 2px 5px rgba(0,0,0,0.3),
    5px 5px 70px rgba(255,255,255,0.5);
    text-align: center;
    z-index: 1;
}

#button_hero{
    position: relative;
    display: block;
    z-index: 2;
}

#mountain{
    z-index: 3;
}
/* ------------ HERO END ------------ */


/* ----------- index.html.html START ------------ */
.white-wave{
    background-image: url("../img/svg/onda.svg");

    background-repeat: no-repeat;
    background-size: cover;
}

/* media query per applicare in seguito all'hover l'effetto di ingrandimento sull'astronauta solo su desktop */
@media(hover: hover) and (pointer: fine) {
    .astronaut-img:hover{
        transform: scale(1.1);
        transition: transform 0.5s ease;
    }

    .astronaut-img:not(:hover){
        transform: scale(1);
        transition: transform 0.5s ease;
    }
}

.white-wave h2{
    color: var(--backgroundColor);
}

.section2 h2{ /*todo questo penso si possa togliere*/
    color: var(--backgroundColor);
}
/* ----------- index.html.html END ------------ */

/* ----------- contactUs.html START ------------ */

.bg-image-index{
    background-image: url('');
    height: 100vh
}



/* ----------- CAROSELLO contactUs.html ------------ */
.swiper{
    width: 100%;
}

.swiper-wrapper{
    width: 100%;
    height: 35em;
    display: flex;
    align-items: center;
}

.card{
    padding: 2em 1em;

    display: flex;
    align-items: center;
    flex-direction: column;

    /*margin: 0 2em; per distanzare le card*/
}

.border-relax-pack {
    border-right: 4px solid #4E7DF8;
    border-bottom: 4px solid #4E7DF8;
}

.border-adventure-pack {
    border-right: 4px solid #1DCD9F;
    border-bottom: 4px solid #1DCD9F;
}

.border-creativity-pack {
    border-right: 4px solid #F63A99;
    border-bottom: 4px solid #F63A99;
}

.guide-card{
    width: 20em;
    height: 90%;
    border-radius: 2em; /*possibile esprimere anche in px*/
    background-color: var(--whiteText);
    box-shadow: 0 0 2em rgba(0, 0, 0, .2);
    padding: 2rem;
}

.guide-card .image{
    width: 12em;
    height: 12em;
    padding: 2px;
    margin-top: 2em;
    margin-bottom: 2em;
}

.guide-card img{
    width: 100%;
    height: 100%;
    border-radius: 10%;
    object-fit: cover;
}

.guide-card .title{
    font-size: 1.5rem;
    font-weight: 500;
    position: relative;
    top: .2em;
}

.card__content{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.guide-card p{
    text-align: center;
    font-size: 1.1rem;
    margin: 1em 0;
    color: var(--backgroundColor);
}

.card-title{
    font-size: 1.5rem;
    font-weight: 500;
    position: relative;
    top: .2em;
}

.testimonials-card{
    width: 20em;
    height: 65%;
    border-radius: 1.5em; /*possibile esprimere anche in px*/
    background-color: #352688;
}

.testimonials-card .rating{
    margin-top: 5px;
    font-size: 30px;
    color: hsl(51, 98%, 60%);
}

.testimonials-card .name{
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--whiteText);
    text-transform: capitalize;
    margin-top: 1.2em;
}


.testimonials-card p{
    text-align: center;
    margin-top: 20px;
    color: var(--whiteText);
    font-size: 0.85rem;
    max-width: 265px;
}

i.fa-star:not(:last-child){
    margin-right: 7px;
}

/* Se si desidera applicare l'effetto blur sulle card che nono sono in primo piano, lo applica a tutti i caroselli del sito quindi index.html e contactus.html*/
/*.swiper-slide:not(.swiper-slide-active){
    filter: blur(1px);
}*/


/*.card__name{
    color: var(--carouselColor);
}*/


/*.card__btn{
    background-color: var(--carouselColor);
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    padding: .5em;
    border-radius: .5em;
    margin-top: .5em;
    cursor: pointer;
}*/

.guide-pagination .swiper-pagination-bullet {
    opacity: 1;
    border: var(--whiteText) solid 1px;
    background-color: transparent;
    height: 12px;
    width: 12px;
}
.guide-pagination .swiper-pagination-bullet-active {
    background-color: var(--whiteText);
}

.testimonials-pagination .swiper-pagination-bullet {
    opacity: 1;
    border: var(--backgroundColor) solid 1px;
    background-color: transparent;
    height: 12px;
    width: 12px;
}
.testimonials-pagination .swiper-pagination-bullet-active {
    background-color: var(--backgroundColor);
}

/* nel carosello delle recensioni in index.html per fare comparire i dot della paginazione su dispositivi mobili e non mostrarli su desktop*/
/*
.mySwiper .testimonials-pagination{
    display: none;
}

@media (max-width: 992px) {
    .mySwiper .testimonials-pagination {
        display: block;
    }
}
*/

/*
.mySwiper .swiper-button-prev,
.mySwiper .swiper-button-next {
    display: none;
}

@media (max-width: 768px) {
    .mySwiper .swiper-button-prev,
    .mySwiper .swiper-button-next {
        display: block;
    }
}
*/


/* ------------ CAROSELLO contactUs.html END ------------*/


/* ------------ CARD ourStory.html START------------ */


.guide-card p {
    color: var(--backgroundColor);
}
/* ------------ CARD ourStory.html END------------ */

/* ------------ FOOTER START------------ */
/*todo impostare i font corretti*/
footer {
    /*padding: 1em 1.8em 0 1.8em; /*i valori sono per il padding top, right, bottom, left*/
    background: var(--footerBackgroundColor);
}

/*.footer h1{
    font-size: 4rem;
}*/

.footer .image{
    width: 4.5em;
    height: 4.5em;
}

li.nav-item{
    font-size: 0.9rem;
    /* todo definire il font corretto*/
    letter-spacing: 0.00625rem;
}
/* per spaziare gli elementi dell'elenco*/
li.nav-item:not(:last-child) {
    margin-bottom: 9px;
}

footer h6{
    font-size: 0.9rem;
    /* todo definire il font corretto*/
    letter-spacing: 0.00625rem;

}

footer i{
    color: var(--whiteText);
    font-size: 1rem;
    padding: 0;
}
/* ------------ FOOTER END------------ */

