/* ------------ GOOGLE FONTS ------------ */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@500&display=swap');

/* ------------ VARIABLES ------------ */
:root{
    /* FONT */
    --fontLobsterSansSerif: 'Lobster', sans-serif;
    --fontCabinSansSerif: 'Cabin', sans-serif; /*font usato nella navigation bar*/ /*todo aggiornare font come su figma*/

    /* COLORS */
    --backgroundColor: #181335;
    --carouselColor: #9176FF;
}
/* todo UTILIZZARE LE CLASSI DI BOOTSTRAP PER PADDING/MARGIN */
/* START CSS FOR NAVBAR BOOTSTRAP + CSS */

html{
    width: 100vw;

}

body {
    width: 100vw;
    height: 100vh;
    margin:0;
    background: var(--backgroundColor);
    overflow-x: clip;
    overflow-y: scroll;

}


section:before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #181335, transparent);
    z-index: 10000;
}

section:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
}


section{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

#text /* todo eliminare, è associato tramite id all' h1 di ogni pagina*/
{
    position: relative;
    color: #fff;
    font-size: 10vh;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.3),
    5px 5px 70px rgba(255,255,255,0.5);
    text-align: center;
    z-index: 1;
}
#mountain{
    z-index: 2;
}



button {
    border-radius: 15px;
    font-weight: bold;
    color: black;
    background: #FFE037;
    /*padding: 20px 50px;*/ /*padding di figma*/
    padding: 15px 40px 15px 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;

}

a{
    text-decoration: underline;
    text-decoration-color: white;
    text-underline-offset: 5px; /* todo capire quanto spostare la sottolineatura*/
}

h3, h4, li, h6 {
    color: white;
}

h1, h2{
    color: white;
    font-family: var(--fontLobsterSansSerif);
    font-weight: 400;
    letter-spacing: 1px;

}

p{
    color: white;
    font-family: var(--fontCabinSansSerif);
}

.navbar{
    z-index: 1000000;
}

.navbar a {
    font-family: var(--fontCabinSansSerif);
    font-size:20px;
    text-transform:uppercase;
    letter-spacing:2px;
    justify-content: space-between;
}

.navbar a.dropdown-menu {
    background: #dfdfdf;
}

.navbar a.dropdown-toggle {
    color: #dfdfdf;
}

.navbar a.dropdown-item {
    color: #0c0725;
    position: relative;
    display: inline-block;
    width: auto;
    padding: 0 0 3px;

}
.navbar .li-dropdown-item {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar .nav-link.active{
    color: #dfdfdf;
}

.navbar .dropdown-menu a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #0c0725;
    transition: width 0.3s ease;
}

.navbar .dropdown-menu a:hover::before,
.navbar .dropdown-menu a:focus::before {
    width: 100%;
    background-color: transparent;
    color: #0c0725;
}

.navbar a.dropdown-item:hover,
.navbar a.dropdown-item:focus {
    background-color: transparent;
    color: #0c0725;
}


.nav-item a{
    color:#dfdfdf;
    justify-content: space-between;
    position: relative;
    display: inline-block;
}

.nav-item a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transition: width 0.3s ease; /* Imposta la transizione */
}

.navbar .nav-item a.active::before {
    width: 100%;
}


.nav-item a:focus::before,
.nav-item a:hover::before {
    width: 100%; /* Fai espandere la sottolineatura al 100% */
}

.nav-item a:focus {
    text-underline-offset: 10px;
}

.nav-item a:hover {
    color:#fff;
}

.navbar-nav {
    display: flex;
    justify-content: space-between;
    width: 100%; /* <-- Questa è la larghezza della barra: attenti che modifica anche su mobile */
}

.nav-item{
    color:#fff
}

.navbar-toggler{
    border: none;
    outline: none;
}

.nav-colored{
    background: #181335;
    transition: background-color 0.7s ease;
}

.nav-transparent{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
    background: -moz-linear-gradient(left,  rgba(12,7,37,1) 0%, rgba(0,0,0,0) 50%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(12,7,37,1) 0%,rgba(0,0,0,0) 50%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(left,  rgba(12,7,37,1) 0%,rgba(0,0,0,0) 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
    transition: background-color 0.7s ease;
}

.navbar.collapsing .navbar-nav,
.navbar.show .navbar-nav{
    background: -moz-linear-gradient(top,  rgba(12,7,37,1) 0%, rgba(0,0,0,0) 50%);
    padding: 12px;
}

#offcanvasNavbar{
    background-color: #181335;
    text-align: center;
}
/* ------------ NAVBAR END ------------ */

.title{
    font-family: var(--fontLobsterSansSerif);
    font-size:50px;
    color: #dfdfdf;
    margin-right: 0;
    margin-left: 0;
}

/* ------------ HERO START ------------ */
.hero .image{
    position: relative;
    z-index: 1;
    width: 4.5em;
    height: 4.5em;
}
/* ------------ HERO END ------------ */


/* ----------- index.html.html ------------ */
.white-wave{
    background-image: url("../img/svg/onda.svg");
    /*height: 100vh;*/
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
}

.dimension{
    max-width: 98%;
}

.section2 h2{ /*todo questo penso si possa togliere*/
    color: var(--backgroundColor);
}
/* ----------- CAROSELLO contactUs.html ------------ */
/* ----------- SLIDER ------------ */
.swiper{
    width: 100%;
}

.swiper-wrapper{
    width: 100%;
    height: 35em;
    display: flex;
    align-items: center;
}

.card{
    width: 20em;
    height: 90%;
    border-radius: 2em; /*possibile esprimere anche in px*/
    padding: 2em 1em;

    display: flex;
    align-items: center;
    flex-direction: column;

    /*margin: 0 2em; per distanzare le card*/
}

.border-relax-pack {
    border-right: 4px solid #4E7DF8;
    border-bottom: 4px solid #4E7DF8;
}

.border-adventure-pack {
    border-right: 4px solid #1DCD9F;
    border-bottom: 4px solid #1DCD9F;
}

.border-creativity-pack {
    border-right: 4px solid #F63A99;
    border-bottom: 4px solid #F63A99;
}

.guide-card{
    background-color: #fff;
}

.guide-card .image{
    width: 12em;
    height: 12em;
    padding: 2px;
    margin-top: 2em;
    margin-bottom: 2em;
}

.guide-card img{
    width: 100%;
    height: 100%;
    border-radius: 10%;
    object-fit: cover;
}

.guide-card .title{
    font-size: 1.5rem;
    font-weight: 500;
    position: relative;
    top: .2em;
}

.card__content{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card__content p{
    color: black;
}

.card__text{
    text-align: center;
    font-size: 1.1rem;
    margin: 1em 0;
}

.testimonials-card{
    background-color: #352688;
}

.testimonials-card .rating{
    margin-top: 15px;
    font-size: 30px;
    color: hsl(51, 98%, 60%);
}

.testimonials-card .name{
    font-size: 1.3rem;
    font-weight: 500;
    color: white;
    text-transform: capitalize;
    margin-top: 1.2em;
}


.testimonials-card p{
    margin-top: 20px;
    color: white;
    font-size: 0.8rem;
    max-width: 240px;
}

i.fa-star:not(:last-child){
    margin-right: 7px;
}

.swiper-slide:not(.swiper-slide-active){
    filter: blur(1px);
}




.card__title{
    font-size: 1.5rem;
    font-weight: 500;
    position: relative;
    top: .2em;
}

/*.card__name{
    color: var(--carouselColor);
}*/


/*.card__btn{
    background-color: var(--carouselColor);
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    padding: .5em;
    border-radius: .5em;
    margin-top: .5em;
    cursor: pointer;
}*/
.guide-pagination .swiper-pagination-bullet {
    opacity: 1;
    border: #ffffff solid 1px;
    background-color: transparent;
    height: 12px;
    width: 12px;
}
.guide-pagination .swiper-pagination-bullet-active {
    background-color: #ffffff;
}

.testimonials-pagination .swiper-pagination-bullet {
    opacity: 1;
    border: var(--backgroundColor) solid 1px;
    background-color: transparent;
    height: 12px;
    width: 12px;
}
.testimonials-pagination .swiper-pagination-bullet-active {
    background-color: var(--backgroundColor);
}

/* ------------ CAROSELLO contactUs.html END ------------*/


/* ------------ CARD ourStory.html START------------ */
.guide-card{
    background-color: #fff;
    border-radius: 2em;
    box-shadow: 0 0 2em rgba(0, 0, 0, .2);
    padding: 2rem;
}

.guide-card p {
    color: #120f20;
}
/* ------------ CARD ourStory.html END------------ */

/* ------------ FOOTER START------------ */
/*todo impostare i font corretti*/
footer {
    /*padding: 1em 1.8em 0 1.8em; /*i valori sono per il padding top, right, bottom, left*/
    background: #0C0922;
}

.footer h1{
    font-size: 2.1rem;
}

.footer .image{
    width: 4.5em;
    height: 4.5em;
}

li.nav-item{
    font-size: 0.9rem;
    /* todo definire il font corretto*/
    letter-spacing: 0.00625rem;
}
/* per spaziare gli elementi dell'elenco*/
li.nav-item:not(:last-child) {
    margin-bottom: 9px;
}

footer h6{
    font-size: 0.9rem;
    /* todo definire il font corretto*/
    letter-spacing: 0.00625rem;

}

footer i{
    color: white;
    font-size: 1rem;
    padding: 0;
}
/* ------------ FOOTER END------------ */



