/* ------------ GOOGLE FONTS ------------ */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Nunito+Sans:opsz,wght@6..12,400;6..12,600;6..12,700&display=swap');

/* ------------ CUSTOM PROPERTIES ------------ */
:root{
    /* FONT */
    --fontLobster: 'Lobster', sans-serif;
    --fontNunito: 'Nunito Sans', sans-serif; /*font usato nella navigation bar*/

    /* COLORS */
    --PrimaryColor: #181335;
    --SecondaryColor: #FFE037;
    --TertiaryLightBlue: #4C7CF8;
    --TertiraryGreen: #1DCD9F;
    --TertiaryPink: #F63A99;
    --White: #F6F6F9;

    --carouselColor: #9176FF; /*Se un valore viene usato una sola volta, non serve crare una custom property, infatti ho tolto quella per il colore sfondo del footer */
}

/* todo UTILIZZARE LE CLASSI DI BOOTSTRAP PER PADDING/MARGIN */
/* todo SOSTITUIRE UNITA' DI MISURA ASSOLUTE IN RELATIVE*/
/* START CSS FOR NAVBAR BOOTSTRAP + CSS */

/* ------------ FONTS & COLORS------------ */
html {
    font-family: var(--fontNunito);
}

a{
    text-decoration: none;
    /* rimosso sottolibneatura per i link come quelli in index.html*/
    /*text-decoration: underline;
    text-underline-offset: 5px; !* todo capire quanto spostare la sottolineatura*!*/
}

h1, h2, h3 {
    font-family: var(--fontLobster);
}

h1, h2, h3, h4, h5, p, li, a{
    color: var(--White);
}

h1 {
    font-size: clamp(2.133rem, 4vw + 1rem, 4.267rem);
    letter-spacing: 0.12rem;
    text-transform: capitalize;
}

h2 {
    font-size: clamp(1.75rem, 2vw + 1rem, 2.5rem);
    letter-spacing: 0.075rem;
}

h3, h4 {
    font-size: clamp(1.5rem, 2vw + 1rem, 2rem);
    letter-spacing: 0.06rem;
}

p, .menu_footer {
    font-size: clamp(0.875rem, 1vw + 1rem, 1rem);
}

h4 {
    font-family: var(--fontNunito);
}

h5 {
    font-weight: normal;
}

p {
    letter-spacing: 0.00875rem;
}

.menu_footer {
    font-weight: 400;
    color: var(--White);
}

.small_copy {
    font-size: clamp(0.5rem, 2vw + 1rem, 1rem);
}

.small_copy a:hover {
    text-decoration: underline;
}

.strong_copy {
    font-weight: bold;
}

.p-purple {
    color: var(--PrimaryColor);
}

body {
    background: var(--PrimaryColor);
}

.fa-brands {
    color: var(--White);
}

/* ------------ HEADER ------------ */

#header_parallax {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header_parallax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

header{
    background-image: url("../img/Clouds_base.png");
    background-position: center bottom;
    background-size: cover;
    height: fit-content;
    position: relative;
}

#brand_name {
    margin-top: 15%;
    text-align: center;
    z-index: 1;
}


.color_wave_upsidedown {
    background-image: none;
    background-color: var(--TertiaryLightBlue);
    mask-image: url("../img/svg/Wave_upside_down.svg");
    mask-position: center bottom;
    mask-size: cover;
    fill: var(--TertiaryPink);
    height: 20em;
    position: relative;
}

#adventure_boundle .color_wave_upsidedown {
    background-color: var(--TertiraryGreen);
}

#creativity_boundle .color_wave_upsidedown {
    background-color: var(--TertiaryPink);
}

#relax_boundle main {
    margin-top: -17%;
}

#adventure_boundle main {
    margin-top: -17%;
}

#creativity_boundle main {
    margin-top: -17%;
}

@media only screen and (min-width: 768px) {
    .color_wave_upsidedown {
        height: 25em;
    }

    #relax_boundle main {
        margin-top: -5%;
    }

    #adventure_boundle main {
        margin-top: -5%;
    }

    #creativity_boundle main {
        margin-top: -5%;
    }
}

/* ------------ CTA ------------ */
button {
    color: var(--PrimaryColor);
    background: var(--SecondaryColor);
    padding: 1.25rem 3.125rem;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-flex;
    border: none;
}

button a {
    color:var(--PrimaryColor);
}

button:hover, button:active {
    background: #8090E7;
}

/* ------------ NAVBAR ------------ */

.navbar-toggler .fa-bars, .navbar a.dropdown-toggle, .navbar .nav-link.active {
    color: var(--White); /* Colore per l'icona hamburger menu */
}

/* utile per rimuovere il colore di sfondo del bottone close della barra mobile quando tieni premuto*/
.btn-close-white:hover {
    background-color: transparent;
}
/* utile per rimuovere il colore di sfondo del bottone hamburger della barra mobile quando tieni premuto*/
.navbar-toggler:hover {
    background-color: transparent;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar a.dropdown-menu {
    background: var(--White);
}

.navbar a.dropdown-item {
    background-color: transparent;
    color: #0c0725;
    position: relative;
    display: inline-block;
    width: auto;
    padding: 8px;
}

.navbar .dropdown-menu a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: var(--PrimaryColor);
    transition: width 0.3s ease;
}

.navbar .dropdown-menu a:hover::before,
.navbar .dropdown-menu a:focus::before {
    width: 100%;
    color: #0c0725;
}

.navbar a.dropdown-item:hover,
.navbar a.dropdown-item:focus {
    background-color: transparent;
    color: var(--PrimaryColor);
}

.nav-item a{
    color: var(--White);
    position: relative;
    display: inline-block;
}

.nav-item a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: var(--White);
    transition: width 0.3s ease; /* Imposta la transizione */
}

#navbarDropdownMenuLink:focus{
    color: var(--White);
}

.navbar .nav-item a.active::before,
.nav-item a:focus::before,
.nav-item a:hover::before {
    width: 100%; /* Fai espandere la sottolineatura al 100% */
}

.nav-item a:focus {
    text-underline-offset: 10px;
}

.nav-item a:hover {
    color: var(--White);
}

.navbar-nav {
    display: flex;
    justify-content: space-between;
    width: 100%; /* <-- Questa è la larghezza della barra: attenti che modifica anche su mobile */
}

.nav-item{
    color: var(--White);
}

.navbar-nav .nav-link-show{
    color: var(--White);
}

.navbar-toggler{
    border: none;
    outline: none;
}

.nav-colored{
    background: var(--PrimaryColor);
    transition: background-color 0.7s ease;
}

.nav-transparent{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
    background: -moz-linear-gradient(left,  rgba(12,7,37,1) 0%, rgba(0,0,0,0) 50%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(12,7,37,1) 0%,rgba(0,0,0,0) 50%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(left,  rgba(12,7,37,1) 0%,rgba(0,0,0,0) 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
    transition: background-color 0.7s ease;
}

.navbar.collapsing .navbar-nav,
.navbar.show .navbar-nav{
    background: -moz-linear-gradient(top,  rgba(12,7,37,1) 0%, rgba(0,0,0,0) 50%);
    padding: 12px;
}

#offcanvasNavbar{
    background-color: var(--PrimaryColor);
    text-align: center;
}
/* ------------ NAVBAR END ------------ */


/* ------------ HERO START ------------ */
#header_parallax #logo{
    position: relative;
    max-width: 4.5em;
    max-height: 4.5em;
    z-index: 1;
    display: block;
}

#header_parallax #brand_name {
    position: relative;
    text-align: center;
    margin-top: 0;
}

#slogan {
    position: relative;
    text-align: center;
}

#button_hero{
    position: relative;
    display: block;
    z-index: 2;
}

#cloud{
    z-index: 3;
}
/* ------------ HERO END ------------ */


/* ------------ TRAVEL BOUNDLE AND SINGLE PAGE ------------ */

.travel_boundle {
    background: var(--White);
    padding: 15% 5% 5% 5%;
    border-radius: 1.25rem;
    border: 0.3em solid;
    margin-top: -10%;
    z-index:0;
}

.travel_boundle p, .travel_boundle h3 {
    color: var(--PrimaryColor);
}

.boundle_img {
    z-index: 1;
}

.single_boundle {
    background-color: var(--White);
}

.single_boundle main p{
    color: var(--PrimaryColor);
}

.single_boundle .boundle_img {
    z-index: 0;
}

.single_boundle .travel_boundle {
    z-index: 1;
    padding: 5%;
    border:none;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}

.guide_card_boundle .travel_boundle {
    z-index: 0;
    padding-top: 15%;
}

.guide_card_boundle .boundle_img {
    z-index: 1;
}

#relax .travel_boundle {
    border-color: var(--TertiaryLightBlue);
}

#adventure .travel_boundle {
    border-color: var(--TertiraryGreen);
}

#creativity .travel_boundle {
    border-color: var(--TertiaryPink);
}

@media only screen and (min-width: 1200px) {

    .travel_boundle {
        z-index: 1;
        padding-top: 5%;
        margin-left: -15%;
        margin-top: 0;
        border-top: none;
        border-left: none;
    }

    .boundle_img {
        position: relative;
        right: 0;
        z-index: 0;
        margin-left: -15%;
    }

    .boundle_img img{
        width: auto;
        height: 100%;

    }

    #adventure .travel_boundle {
        margin-left: 0;
        margin-right: -10%;
        border-top: none;
        border-right: none;
        border-left: 0.3em solid var(--TertiraryGreen);
    }

    .single_boundle #adventure .travel_boundle {
        border:none;
        margin-left: -10%;
    }

    #relax, #creativity, #adventure {
        padding-left: 8%;
    }

    .guide_card_boundle .travel_boundle {
        margin-left: 0;
        margin-right: -10%;
        padding-top: 5%;
        padding-right: 15%;
    }
}

/* ----------- ONDA SVG ------------ */
.white-wave{
    background-image: url("../img/svg/Wave.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.white-wave h2{
    color: var(--PrimaryColor);
}

.color_wave {
    mask: url("../img/svg/Wave.svg") no-repeat;
    mask-size: cover;
    z-index:0;
}

.color_wave .row {
    padding-top: 80%;
    padding-bottom: 5%;
}

@media only screen and (min-width:576px) {
    .color_wave .row {
        padding-top: 10%;
    }
}

#relax_boundle .color_wave {
    background-color: var(--TertiaryLightBlue);
}

#adventure_boundle .color_wave {
    background-color: var(--TertiraryGreen);
}

#creativity_boundle .color_wave {
    background-color: var(--TertiaryPink);
}

/* ----------- CREATE A PERSONAL BOUNDLE ------------ */

.personal_boundle {
    background-color: white;
    padding: 2em;
    border-radius: 1em;
    border: .3rem solid var(--TertiaryLightBlue);
}

#adventure_form {
    border-color: var(--TertiraryGreen);
}

#creativity_form {
    border-color: var(--TertiaryPink);
}

form h5 {
    color: var(--PrimaryColor);
}


/* ----------- IMG GROW ON HOVER------------ */

/* media query per applicare in seguito all'hover l'effetto di ingrandimento sull'astronauta solo su desktop */
@media(hover: hover) and (pointer: fine) and (min-width: 1200px) {
    .img-grow:hover{
        transform: scale(1.1);
        transition: transform 0.5s ease;
    }

    .img-grow:not(:hover){
        transform: scale(1);
        transition: transform 0.5s ease;
    }
}

/* ------------ BRAND CARD ------------ */
.brand-card{
    border-radius: 2em;
    background-color: #352688;;
    padding: 2rem;
    border-right: 0.5em solid #FFE037;
    border-bottom: 0.5em solid #FFE037;
}

/* ------------ GUIDE CARD ------------ */

.swiper{
    width: 100%;
}

.swiper-wrapper{
    width: 100%;
    height: 35em;
    display: flex;
    align-items: center;
}

.card{
    padding: 2em 1em;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#card_Zyrak {
    border-right: .3rem solid var(--TertiaryLightBlue);
    border-bottom: .3rem solid var(--TertiaryLightBlue);
}

#card_Lumara {
    border-right: .3rem solid var(--TertiraryGreen);
    border-bottom: .3rem solid var(--TertiraryGreen);
}

#card_Calysa {
    border-right: .3rem solid var(--TertiaryPink);
    border-bottom: .3rem solid var(--TertiaryPink);
}

.guide-card{
    width: 20em;
    height: 35em;
    border-radius: 2em;
    background-color: var(--White);
    box-shadow: 0 0 2em rgba(0, 0, 0, .2);
    padding: 1.5rem;
}

.guide-card img{
    border-radius: 10%;
    object-fit: cover;
    width: 12em;
    height: 12em;
    margin-top: 2em;
    margin-bottom: 1em;
}

.guide-card p{
    margin: 1em 0;
    color: var(--PrimaryColor);
}

.card-title{
    font-size: 1.5rem;
    font-weight: 500;
    position: relative;
    top: .2em;
}

/* ------------ TESTIMONIAL CARD ------------ */

.testimonials-card{
    width: 20em;
    height: fit-content;
    border-radius: 1.5em; /*possibile esprimere anche in px*/
    background-color: #352688;
}

.testimonials-card .rating{ /* todo una volta che si sono inserite le stelline con gli svg questa classe si potrebbe togliere (teoricamente)*/
    margin-top: 5px;
    font-size: 30px;
    color: hsl(51, 98%, 60%);
}

.testimonials-card img{
    width: 2.3rem;
    height: auto;
}

.testimonials-card img:not(:last-child){
    margin-right: 6px;
}

.testimonials-card .name{
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--White);
    margin-top: 1.2em;
}


.testimonials-card p{
    text-align: center;
    margin-top: 20px;
    color: var(--White);
    font-size: 0.85rem;
    max-width: 90%;
}

i.fa-star:not(:last-child){
    margin-right: 7px;
}


/* Se si desidera applicare l'effetto blur sulle card che nono sono in primo piano, lo applica a tutti i caroselli del sito quindi index.html e contactus.html*/
/*.swiper-slide:not(.swiper-slide-active){
    filter: blur(1px);
}*/


/*.card__name{
    color: var(--carouselColor);
}*/


/*.card__btn{
    background-color: var(--carouselColor);
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    padding: .5em;
    border-radius: .5em;
    margin-top: .5em;
    cursor: pointer;
}*/

.guide-pagination .swiper-pagination-bullet {
    opacity: 1;
    border: var(--White) solid 1px;
    background-color: transparent;
    height: 12px;
    width: 12px;
}
.guide-pagination .swiper-pagination-bullet-active {
    background-color: var(--White);
}

.testimonials-pagination .swiper-pagination-bullet {
    opacity: 1;
    border: var(--PrimaryColor) solid 1px;
    background-color: transparent;
    height: 12px;
    width: 12px;
}
.testimonials-pagination .swiper-pagination-bullet-active {
    background-color: var(--PrimaryColor);
}

/* per vedere come modificare le due freccie https://dev.to/ivadyhabimana/customizing-swiperjs-prevnext-arrow-buttons-and-pagination-bullets-in-react-3gkh*/
.swiper-button-next,
.swiper-button-prev {
    background-color: var(--White);
    padding: 1.875rem 1.875rem;
    border-radius: 100%;
    /*border: 2px solid var(--PrimaryColor);*/
    color: var(--PrimaryColor);
}
/*todo mettere nella home page il bordo viola e frecce blu*/

/* todo da qui si possono spostare i bottoni, per ora sono a bordo pagina*/
/* fix the buttons positions */
.swiper-button-prev {
    left: 0;
}

.swiper-button-next {
    right: 0;
}

.swiper-button-next {
    background-image: url(/img/svg/nav-arrow-right.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
}

.swiper-button-prev {
    background-image: url(/img/svg/nav-arrow-left.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
}

.swiper-button-next::after {
    display: none;
}

.swiper-button-prev::after {
    display: none;
}



/* nel carosello delle recensioni in index.html per fare comparire i dot della paginazione su dispositivi mobili e non mostrarli su desktop*/
/*
.mySwiper .testimonials-pagination{
    display: none;
}

@media (max-width: 992px) {
    .mySwiper .testimonials-pagination {
        display: block;
    }
}
*/

/*
.mySwiper .swiper-button-prev,
.mySwiper .swiper-button-next {
    display: none;
}

@media (max-width: 768px) {
    .mySwiper .swiper-button-prev,
    .mySwiper .swiper-button-next {
        display: block;
    }
}
*/


/* ------------ FOOTER ------------ */
footer {
    /*padding: 1em 1.8em 0 1.8em; /*i valori sono per il padding top, right, bottom, left*/
    background: #0C0922;
}

.footer img{
    width: 4.5em;
    height: 4.5em;
}



